.dashboard {
  position: absolute;
  padding: 40px 0;
  width: calc(100% - 320px);
  margin: 0 10px 0 10px;
  right: 0;
  overflow-y: scroll;
}


.dashboard .country-name {
  text-transform: capitalize;
  text-align: center;
  color: #7d7d7d;
}

.dashboard .flag{
  width: 100px;
  box-shadow: 0px 1px 25px -7px rgba(0,0,0,0.44);
}

.dashboard .plot-title {
  text-align: center;
  margin: 70px 0 10px 0;
  font-size: 25px;
  color: #67abf3;
}


.dashboard .credits {
  text-align: center;
  margin-top: 50px;
  color: #888888;
}

.dashboard .credits a {
  text-decoration: none;
  color: #67abf3;
}

.dashboard .info-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15%;
  background-color: #fff;
  /* color: #444; */
}

.dashboard .info-grid .cell {
  /* background: #eee; */
  text-align: center;
}

.dashboard .info-grid .cell .cell-inner {
  width: fit-content;
  margin: 20px;
}

.dashboard .info-grid .cell .cell-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.dashboard .info-grid .cell .cell-subtitle {
  font-size: 15px;
  color: #888;
}

.dashboard .info-grid .cell .cell-score {
  font-size: 40px;
  font-weight: 200;
}

.dashboard .info-grid .cell  .cell-section {
  margin-bottom: 35px;
}

.dashboard .evolution-arrow {
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.dashboard .warning-message {
  text-align: center;
  background: #fff5f5;
  /* border: #b9161640 solid 2px; */
  padding: 10px 0;
  font-size: 22px;
  color: #b91616;
}


.dashboard .info-message {
  text-align: center;
  background: #e0ffe2;
  /* border: #05dc13 solid 1px; */
  padding: 10px 0;
  font-size: 22px;
  color: #008a09;
}


.dashboard .crude-deaths-info {
  color: #a7a7a7;
  text-align: center;
}
